.OngoingJobBox
{
    padding: 10px;
    background-color: white;
    color: black;
    bottom: 0;
    width: 100%;


@media (max-width: 1000px) {
	padding: 70px 30px;}
}

.OngoingJobContainer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1000px;
	margin: auto;
    font-size: 20px;
}

.OngoingJobGridBox
{
    border: solid;
    border-radius:50px;
    padding:20px;
    margin:20px;
    margin-bottom: 80px;
    grid-area: 1 / 1 / span 4 / span 1;
}

.OngoingJobRow
{
    border: 1px solid;
    border-radius:50px;
    margin:5px;
}

.OngoingJobRow a
{
    text-decoration: none;

}

.OngoingJobTitle
{
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    grid-area: 1 / 2 / span 1 / span 2;
    
}

.OngoingJobService
{
    border: solid;
    border-radius:50px;
    grid-area: 2 / 2 / span 1 / span 1;
    margin: 10px;
}

.OngoingJobService2
{
    border: solid;
    border-radius:50px;
    grid-area: 2 / 3 / span 1 / span 1;
    margin: 10px;
}

.OngoingJobDescription
{
    grid-area: 4 / 2 / span 1 / span 2;
    text-align:left;
}

.OngoingJobListing
{
    display: grid;
    grid-template-columns: 150px 150px 150px 800px;
    grid-gap: 0px;
    color: black;
    padding: 10px; 
    text-decoration: none;
    text-align: center;
    width: 180px;
    font-size: 20px;
}



.OngoingJobStatus
{
    grid-area: 3 / 2 / span 1 / span 2 ;
    margin:10px;
    text-align: left;
}

.OngoingJobTimeframe
{
    grid-area: 1 / 4 / span 1 / span 2 ;

}