.AvailableJobBox
{
    padding: 10px;
    background-color: white;
    color: black;
    bottom: 0;
    width: 100%;


@media (max-width: 1000px) {
	padding: 70px 30px;}
}

.AvailableJobContainer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1000px;
	margin: auto;
    font-size: 30px;
}

.AvailableJobGridBox
{
    border: solid;
    padding: 40px;
    border-radius:50px;
    margin:50px;
    grid-area: 1 / 1 / span 3 / span 1;
}

.AvailableJobRow
{
    border: solid;
    border-radius:50px;
    margin:5px;
    font-size: 20px;
}

.AvailableJobRow a
{
    text-decoration: none;

}

.AvailableJobTitle
{
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    grid-area: 1 / 2 / span 1 / span 3;
    
}

.AvailableJobService
{
    border: solid;
    border-radius:50px;
    grid-area: 2 / 2 / span 1 / span 1;
    padding-top: 10px;
    margin: 10px;
}

.AvailableJobDescription
{
    border: solid;
    border-radius:50px;
    grid-area: 3 / 2 / span 1 / span 4;
    padding-top: 20px;
}

.AvailableJobListing
{
    display: grid;
    grid-template-columns: 250px 250px 250px 200px;
    grid-gap: 0px;
    color: black;
    padding: 10px; 
    text-decoration: none;
    text-align: center;
    width: 180px;
}





