.flex {
    display:flex;
}

.c {
    flex-direction:column;
}

.r {
    flex-direction:row;
}

.mid-align {
    justify-content:center;
    align-items:center;
}

.job-listings {
    width:100%;
    height:auto;
    border:1px solid black;
    border-radius:5px;
    position:relative;
}

.text-content {
    align-items:start;
    padding:1em;
    flex:1;
}

.tags {
    margin:0.5em 0 1.5em 0;
    padding:0.3em;
    border:1px solid black;
    border-radius:5px;
    font-size:12px;
    box-sizing:border-box;
}

.header-title {
    margin:0;
}

.small {
    font-size:0.8em;
    margin:0;
}

.badges-container {
    padding:1em;
}

.badge-img {
    width:12px;
    height:12px;
    background-size:contain;
    border-radius:10px;
    margin:0 0.5em 0 0;
}

.job-listing-title {
    font-size:1em;
    margin: 1.5em 0 1.5em 0;
}