.TransactionHistoryBox
{
    padding: 10px;
    background-color: white;
    color: black;
    bottom: 0;
    width: 100%;


@media (max-width: 1000px) {
	padding: 70px 30px;}
}

.TransactionHistoryContainer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1000px;
	margin: auto;
    font-size: 20px;
}



.TransactionHistoryRow
{
    border: 1px solid;
    border-radius:50px;
    margin:5px;
}

.TransactionHistoryRow a
{
    text-decoration: none;

}

.TransactionHistoryTitle
{
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    grid-area: 1 / 2 / span 1 / span 2;
    margin-top: 10px;
}

.TransactionHistoryListing
{
    display: grid;
    grid-template-columns: 150px 150px 150px 750px;
    grid-gap: 0px;
    color: black;
    padding: 10px; 
    text-decoration: none;
    text-align: center;
    width: 180px;
    font-size: 20px;
}



.TransactionHistoryStatus
{
    grid-area: 2 / 2 / span 1 / span 2 ;
    margin:10px;
    text-align: left;
    
}

.TransactionHistoryTimeframe
{
    grid-area: 1 / 4 / span 2 / span 1 ;
    margin-top: 70px;

}

.TransactionHistoryGridBox
{
    border: solid;
    border-radius:50px;
    padding:20px;
    margin:20px;
    grid-area: 1 / 1 / span 3 / span 1;
}